<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
	    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
	    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/winerydatabase?serverTimezone=UTC&amp;createDatabaseIfNotExist=true</property>
	    <property name="hibernate.connection.username">root</property>
	    <property name="connection.password">Miticomitic0</property>
	    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
	    <property name="hbm2ddl.auto">update</property>
	    <property name="show_sql">false</property>
	 	<mapping class="application.Winery" />
	 	<mapping class="application.Bottle" />
	 	<mapping class="application.User" />
	 	<mapping class="application.Employee" />
	 	<mapping class="utilities.Notification" />
	 	<mapping class="utilities.TableElement" />
    </session-factory>

</hibernate-configuration>